.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px;
  position: fixed;
}

.box1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  
}

.box2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 65%;
}

a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.search-icon{
  padding: 10px;
}

.search-icon:hover{
  background-color: lightblue;
}